#placed-orders{
    line-height: 350%;
}

body{
    background-image: url("../img/bg.png");
}

.main-container{
    padding-top: 15%;
}

.table-bg{
    background-color: rgb(255, 255, 255, 0.4);
}

.input-field > label {
color: #000000;
}
